
.webdefend__parallax-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.webdefend__parallax-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.webdefend__parallax-image-target {
  background-image: url('../assets/parallaxtarget.png'); 
  width: 100%;
  height: 100%;
  background-size: fit;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}

.webdefend__parallax-image-border {
  background-image: url('../assets/parallaxborder.png'); 
  width: 100%;
  height: 100%;
  background-size: fit;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}

.webdefend__parallax-image-aim {
  background-image: url('../assets/parallaxaim.png'); 
  width: 100%;
  height: 100%;
  background-size: fit;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}

.webdefend__foreground-elements {
  position: relative;
  z-index: 2; /* Ensure foreground elements are above background */
 
}

.webdefend__services-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    
    background-image: url('../assets/services.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    background-position: center;
    
}

.webdefend__services-title {
    margin: 35px;
    padding-bottom: 10px;
}

.webdefend__services-title p {
    font-size: 35px;
    font-family: var(--font-main);
    font-weight: bold;
    color: var(--color-bg);
    
    
}

.webdefend__infocard-flex {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 25px;

    padding: 5rem 0;
}

.webdefend__infocard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    padding: 20px 20px 75px;
    width: calc(100% - 20px);
}

.webdefend__infocard-feature {
    padding: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    background-image: url('../assets/servicesborder.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    background-position: center;

}

.webdefend__infocard-icon img {
    width: 170px;
    height: 170px;
}

.webdefend__infocard-title p {
    font-size: 28px;
    font-family: var(--font-main);
    font-weight: bold;
    color: var(--color-text);
    padding: 19px 0;
   
}

.webdefend__infocard-description p {
    font-size: 15px;
    font-family: var(--font-main);
}

@media screen and (max-width: 1130px ) {
    .webdefend__infocard-title p {
        font-size: 24px;
    }

    .webdefend__infocard-feature img { 
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 990px ) {
    .webdefend__infocard-flex {
        display: flex;
        flex-direction: column; 
        justify-content: space-between;
        row-gap: 13px;
    }

    .webdefend__title p  {
        font-size: 50px;
        padding-top: 25px;
        padding-bottom: 50px;
    }

    .webdefend__services-title {
        margin: 13px;
    }

    .webdefend__services-title p {
        font-size: 25px;
    }

}

@media screen and (max-width: 650px ) {

    .webdefend__infocard-feature {
        display: flex;
        flex-direction: column;
    }

    .webdefend__infocard-feature img { 
        width: 80px;
        height: 80px;
    }

    .webdefend__infocard-description p {
        font-size: 13px;
    }

    .webdefend__services-title {
        margin: 8px;
    }

    .webdefend__services-title p {
        font-size: 18px;
    }

    .webdefend__infocard-viewall button {
        font-size: 11px;
        
    }

    .webdefend__container-padding {
        padding: 1rem 1.5rem 3rem;
    }
}



