.webdefend__header {
  display: flex;
  background-image: url(../assets/headerbox.png);
  background-size: cover;
  background-position: center;
  height: 489px;
}

.webdefend__header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 5rem;
  margin-top: 75px;
}

.webdefend__header-content span {
  font-family: var(--font-secondary);
  font-weight: 800;
  font-size: 48px;
  letter-spacing: -0.04em;
}

.webdefend__text-blue {
  color: var(--color-bluetext);
}

.webdefend__text-white {
  color: var(--color-bg);
}

.webdefend__text-black {
  color: var(--color-lightgrey);
}

.webdefend__header-content p {
  font-family: var(--font-tertiary);
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: var(--color-bg);
  margin-top: 1.5rem;
  margin-right: 50%;
}

.webdefend__header-content__input {
  width: 300px;
  margin: 2rem 0 1rem;
  display: flex;
}

.webdefend__header-content__input input {
  flex: 2;
  width: 100%;
  min-height: 50px;
  padding: 0 1rem;
  background: var(--color-footer);
  border-radius: 5px 0px 0px 5px;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 20px;
  line-height: 27px;
}

.webdefend__header-content__input button {
  flex: 0.6;
  width: 100%;
  min-height: 50px;
  
  font-family: var(--font-main);
  font-weight: bold;
  color: var(--color-orangetext);
  font-size: 20px;
  line-height: 27px;
  cursor: pointer;
  outline: none;
  padding: 0 1rem;
  border: none;
  padding-bottom: 10px;

  background-image: url(../assets/contact.png);
  background-size: cover;
  background-color: transparent;
  background-position: center;
}

.webdefend__header-content__people {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
}

.webdefend__header-content__people img {
  width: 181.79px;
  height: 38px;
}

.webdefend__header-content__people p {
  margin: 0 0 0 1rem;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 38px;
  color: #ffffff;
  text-align: center;
}

.webdefend__header-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.webdefend__header-image img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1360px) {
  .webdefend__header h1 {
    font-size: 48px;
    line-height: 60px;
  }

}

@media screen and (max-width: 1050px) {
  .webdefend__header {
    flex-direction: column;
  }
  .webdefend__header-content {
    margin: 0 0 3rem;
  }
}

@media screen and (max-width: 700px) {
  .webdefend__header-content span {
    font-size: 40px;
    line-height: 60px;
  }
  .webdefend__header p {
    font-size: 16px;
    line-height: 24px;
  }
  /*Allows p to maintain column*/
  .webdefend__header-content__people {
    flex-direction: column;
  }
  .webdefend__header-content__people p {
    margin: 0;
  }

  .webdefend__header-content__input input,
  .webdefend__header-content__input button {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 490px) {
  .webdefend__header {
    min-height: 600px;
    background-size: auto;
    
  }

  .webdefend__header h1 {
    font-size: 36px;
    line-height: 48px;
  }
  .webdefend__header p {
    font-size: 14px;
    line-height: 24px;
  }
  .webdefend__header-content__input input,
  .webdefend__header-content__input button {
    font-size: 20px;
    line-height: 16px;
    width: 75%;
    align-items: center;
    
  }

}
